*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
body {
    background-color: rgb(201, 144, 255);
    width: auto;
    margin: auto;
    padding: 10px;
}
main{
    background-color: rgb(255, 210, 61);
    box-shadow: 5px 5px 7px black;
}